<!-- Affichage de la liste des passagers -->
<div>
  <mat-slide-toggle [(ngModel)]="photoDisplay">Affichage des photos</mat-slide-toggle>
</div>
<div>
  <ng-container *ngFor="let passager of listePassagers">
    <app-passager [passager]="passager" [photoDisplay]="photoDisplay" class="passager"></app-passager>
  </ng-container>
</div>
