<!-- Affichage d'un vol -->
<div class="row">
    <mat-icon class="column" *ngIf="type==='decollages'">flight_takeoff</mat-icon>
    <mat-icon class="column" *ngIf="type==='atterrissages'">flight_land</mat-icon>
    <span class="column"> {{vol.icao}}</span>
    <span class="column"> {{vol.matricule}}</span>
    <span class="column row"> {{vol.aeroportDepart}}<mat-icon>arrow_right_alt</mat-icon>{{vol.aeroportArrivee}}</span>
    <img class="column images" src="./assets/{{vol.compagnie}}.png" >
</div>
