.row {
  display: flex;
  flex-direction: row;
  gap: 10px ;
  align-content: center;
  align-items: center;
}
.column{
  flex: 1;
  text-align: center;
}

.images{
  width: 1px !important;
  height: auto;
}
