<!-- Affichage d'un passager -->
<div class="row" matTooltip="{{ passager.email }}">
  <img *ngIf="photoDisplay" class="column images" [src]="passager.image" alt="Passenger photo">
  <span class="column">{{ passager.nom }}</span>
  <span [appTextColor]="passager.classeVol" class="column">{{ passager.classeVol }}</span>
  <span [appBagages]="passager" class="column"><mat-icon>work</mat-icon>x{{ passager.nbBagagesSoute }}</span>
</div>
