<div class="container">
  <div class="title">
    <h1>
      <ng-container *ngIf="type === 'decollages'">DECOLLAGES</ng-container>
      <ng-container *ngIf="type === 'atterrissages'">ATTERRISSAGES</ng-container>
    </h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (dataEvent)="onFiltresEvent($event)"></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [listeVols] = "vols" [type]="type" (volEmitter)="onVol($event)"></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers [listePassagers]="listePassagers"></app-liste-passagers>
    </div>
  </div>
</div>
