<form class="filtres-container" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Aéroport</mat-label>
    <mat-select formControlName="airport">
      <mat-option *ngFor="let aeroport of aeroports" [value]="aeroport">{{ aeroport.ville + ' - ' + aeroport.nom }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Dates</mat-label>
    <mat-date-range-input formGroupName ="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Date de début" >
      <input matEndDate formControlName="end" placeholder="Date de fin" >
    </mat-date-range-input>
    <mat-hint>Entrez une période de 3 jours</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button class="apply-button" mat-flat-button [disabled]="!form.valid" (click)="onClick()">Appliquer</button>
</form>
