<!-- Affichage de la liste des vols -->
<div>
  <ng-container *ngFor="let vol of listeVols">
    <app-vol [vol]="vol" [type]="type" class="vol" (click)="onClick(vol)"></app-vol>
  </ng-container>
</div>
